<!DOCTYPE html>
<html>
<head>
  <metta charset="UTF-8">
  <title>Age Photography</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css"/>
  <script async src="../lib/jquery-3.2.1.min.js" ></script>
  <script  async src="../js/Jq.js" ></script>
</head>
<body>
  <nav>
    <a id="home" href="#homeSection">Home</a>
    <a id="portfolio" href="#portfolioSection">Portfolio</a>
    <a id="contact" href="#contactSection">Contact</a>
    <a id="about" href="#aboutSection">About</a>
    <a id="pricing" href="#pricingSection">Pricing</a>
    <a id="phlog" href="#phlogSection">Phlog</a>
  </nav>
</body>
</html>
