<!DOCTYPE html>
<html>
    <head>
        <title>Marriage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/show.css">
    
        <script src="https://use.fontawesome.com/ce33fc6e47.js"></script>
        <script async src="../../lib/jquery-3.2.1.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    
    </head>
    <body>
    
    <div class="arrows">
        <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
        <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
    </div>

    <ul class="slideshow">
      <li style="background-image: url(../../images/1.jpg)"></li>
      <li style="background-image: url(../../images/2.jpg)"></li>
      <li style="background-image: url(../../images/3.jpg)"></li>
      <li style="background-image: url(../../images/4.jpg)"></li>
      <li style="background-image: url(../../images/5.jpg)"></li>
    </ul>

</body>
</html>


